<br>
<br>
<h2 class="text-center">ACTUALIZAR FORMULARIO</h2>
<br>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label class="form-label"> Nombre del libro </label>
        <input formControlName="title" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label"> Observacion del libro </label>
        <input formControlName="content" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label"> Autor del libro </label>
        <input formControlName="author" type="text" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
